<ul>
  <% @item.each do |i|%>
  <li>
  Title is <%= i.title%>。Description is <%= i.description%>
  <%=link_to 'Read',{controller:'list',action:'read',id:i}%>
  <%=link_to 'update',{controller:'list',action:'edit',id:i}%>
  <%=link_to 'delete',{controller:'list',action:'delete',id:i}%>  
  </li>
  <%end%>
</ul>

<%= link_to 'back',{controller:'list',action:''}%>
